/* VARIABLES */
$bgColor: #dfe0e0;
$fgAlt: #bbb;

/* MIXINS */
@mixin flexAll($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin background($url) {
  background: url($url) center no-repeat;
  background-size: contain;
}

@mixin beforeAfterBgs($url, $width, $height, $margin) {
  &::before,
  &::after {
    content: "";
    display: inline-block;
    width: $width;
    height: $height;
    @include background($url)
  }
  &::before {
    margin-bottom: $margin;
  }
  &::after {
    margin-top: $margin;
    transform: rotate(180deg);
    position: relative;
    z-index: 0;
  }
}
