@import 'variables';
@import 'global';
a {
  text-decoration: none;
  color: grey;
}

a:hover,
.btn-outline-secondary:hover {
  text-decoration: none;
  color: white;
}
.wrap {
  overflow: hidden;
}
#Stats,
#Attacks,
#Bio {
  display: none;
}

//spells
.spells {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

//dashboard
.noSheets {
  @include flexAll(column, center, center);
  height: 240px;
}
.addSheet {
  max-width: 450px;
  margin: 0 auto;
  @include flexAll(column,center,center);
  input {
    height: 3em;
  }
  padding: 20px;
  input {
    margin-bottom: 10px;
  }
  button {
    width: 100%;
  }
}
.sheetList {
  background: $bgColor;
  padding: 10px;
  @include flexAll(row,center,center);
  flex-wrap: wrap;
  .sheet {
    background: #f6f6f6;
    position: relative;
    @include flexAll(row,center,center);
    width: 220px;
    height: 220px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    animation: fadeIn .5s ease;
    opacity:.8;
    transition: opacity .15s ease-out;
    &:hover {
      opacity: 1;
      box-shadow: 0px 0px 10px $bgColor;
    }
    .cogBtn {
      transform: translate(-40px);
    }
    button:nth-child(1) {
      @include background("../img/d20dice.png");
      background-size: 130px 130px;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      width: 100%;
      h4 {
        background: #f6f6f6;
        width: 100%;
        padding: 5px 0;
      }
    }
    button:last-child {
      width: 40px;
      height: 40px;
      position: absolute; 
      top: 5px;
      right: 5px;
      border:none;
      font-size: 1.1em;
      text-align: center;
    }
  }
}


/* APP STYLING */
.App {
  margin: 0px auto;
  animation: fadeIn .5s forwards linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .pagination {
   width: 100%;
   max-width: 1130px;
   margin: 0 auto;
   padding: 10px 0;
   display: flex;
   justify-content: center;
   background: $bgColor;

   button {
     margin: 0 5px;
   }
 }
.mainCol1 {
  width: 390px;
  justify-self: center;
  display: grid;
  margin: 20px 5px;
  grid-template-columns: 130px 260px;
  grid-template-rows: 88px 88px 227px 527px 66px 420px;
  .stats {
    /* height: 786.867px */
    grid-column: 1;
    grid-row: 1/5;
    margin: 48px 5px;
  }
  .inspiration {
    grid-column: 2;
    grid-row: 1;
  }
  .prof {
    grid-column: 2;
    grid-row: 2;
  }
  .statsGrid {
    margin-top: 10px;
    grid-column: 2;
    grid-column: 2;
    grid-row: 3;
  }
  .skillsGrid {
    margin-top: 10px;
    grid-column: 2;
    grid-row: 4;
  }
  .passive {
    margin-top: 10px;
    grid-column: 1/2;
    grid-row: 5;
  }
  .col1-end {
    grid-column: 1/2;
    grid-row: 6;
    margin-top: 10px;
    width: 390px;
    @include background('../img/col1-end.png');
    @include flexAll(column, center, center);
    textarea {
      width: 340px;
    }
  }
}
textarea {
  text-align: justify;
  resize: none;
  border: none;
}
.greyBg {
  @include beforeAfterBgs("../img/greyBgBeforeAfter.png", 370px, calc(370px / 7.7482),-25px);
  background: $bgColor;
  height: 420px;
}
.mainCol2 {
  @include flexAll(column,center,center);
  margin: 20px 5px;
  .acGroup {
    width: 370px;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    input {
      font-size: 2em;
      font-weight: bold;
      width: 50px;
      margin-top: 5px;
    }
    .ac,
    .initiative,
    .speed {
      @include flexAll(column, center, center);
      width: 80%;
      justify-self: center;
    }
    .ac {
      grid-column: 1;
      @include background('../img/statAC.png');
    }
    .initiative {
      grid-column: 2;
      @include background('../img/statSPnIN.png');
    }
    .speed {
      grid-column: 3;
      @include background('../img/statSPnIN.png');
    }
  }
  .hpGroup {
    width: 350px;
    height: 140px;
    margin: 0 auto;
    @include background('../img/hpGroup.png');
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 8fr;
    .currentHp {
      grid-row: 2;
      grid-column: 1;
    }
    .maxHp {
      margin: 10px 0;
      grid-row: 1;
      grid-column: 1/3;
      border-bottom: 2px solid grey;
      justify-self: center;
      width: 90%;
      @include flexAll(row, center,space-around);
      input {
        width: 50px;
      }
    }
    .tempHp {
      grid-row: 2;
      grid-column: 2;
    }
    .tempHp,
    .currentHp {
      input {
        font-size: 2em;
        width: 100%;
        height: 65%;
      }
    }
  }
  .hitDiceGroup {
    position: relative;
    z-index: 200;
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .hitDice {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 70px;
      }
    }
    #hitDice {
      input {
        font-size: 1.7em;
        font-weight: bold;
      }
    }
    .deathSaves {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .m-b {
        margin-bottom: 20px;
      }
      input {
        border: 2px solid black;
        border-radius: 50%;
      }
      .saves {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        .title {
          grid-column: 1;
          justify-self: end;
        }
        .boxes {
          grid-column: 2;
        }

      }
    }
    .hitDice,
    .deathSaves{
      width: 49%;
      height: 120px;
      @include background('../img/hitBg.png');
    }
  }
  .attackGroup {
    margin-top: 10px;
    max-width: 370px;
    width: 100%;
    height: 100%;
    .attack {
      width: 340px;
      display: grid;
      grid-template-columns: 2fr 1fr 2fr;
      grid-gap: 5px;
      margin: 5px auto;
      input {
        width: 100%;
        padding: 5px;
        background: $bgColor;
        border: 1px solid $bgColor;
        border-radius: 10px 0 10px 0;
      }
    }
    textarea {
      width: 340px;
      margin: 15px;
    }
    @include background('../img/defaultTexFieldBg.png');
    background-repeat: repeat;
    @include beforeAfterBgs("../img/beforeAfterDefaultEnd.png",370px,calc(370px / 16.5), -20px);
  }
  .equipmentGroup {
    margin-top: 10px;
    max-width: 370px;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    .money {
      grid-column: 1;
      margin: 10px 0px 5px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .coins {
        display: grid;
        grid-template-columns: 2fr 6fr;
        margin-top: 5px;
        height: 40px;
        width: 140%;
        @include background('../img/coins.png');
        p {
          grid-column: 1;
          font-size: .7em;
          margin-top: 12px;
          justify-self: center;
          align-self: center;
        }
        input {
          grid-column: 2;
          justify-self: center;
          align-self: center;
          width: 60%;
          height: 70%;
        }
      }
    }
    textarea {
      width: 85%;
      margin: 10px 10px 5px 20px;
      grid-column: 2;
    }
    .title {
      grid-column: 1/3;
      margin-bottom: 10px;

    }
    @include background('../img/defaultTexFieldBg.png');
    background-repeat: repeat;
    @include beforeAfterBgs("../img/beforeAfterDefaultEnd.png",370px,calc(370px / 16.5), -20px);
  }
}
.mainCol3 {
  margin: 20px 5px;
  width: 370px;
  display: grid;
  grid-gap: 5px;
  justify-items: center;
  .bef {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include background('../img/defaultTexFieldBg.png');
    background-repeat: repeat;
    @include beforeAfterBgs("../img/beforeAfterDefaultEnd.png",370px,calc(370px / 16.5), -20px);
    .text {
      margin-top: 10px;
      width: 90%;
        //background: red;
    }
    .title {
      margin-bottom: 10px;
    }
  }
  .bioGroup {
    height: auto;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .bioItem {
      border: 10px solid white;
      background: white;
      border-radius: 10px 0 10px 0;
      margin: 5px;
      width: 85%;
      textarea {
        background: none;
        width: 100%;
      }
      position: relative;
      z-index: 200;
    }
    .bioItem:nth-child(1) {
      background: white;
    }
    .bioItem:nth-child(2) {
      background: white;
    }
    .bioItem:nth-child(3) {
      background: white;
    }
    .bioItem:nth-child(4) {
      background: white;
    }
  }
}


.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  position: relative;
  z-index: 100;
  text-align: center;
}

.stats,
.stat,
.skillList,
.textField {
  @include flexAll(column, center, center);
}

.textField {
  input {
    width: 30px;
  }
}

.stats {
  background: $bgColor;
  width: 110px;
  height: 85.1%;
  .stat {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    justify-items: center;
    height: calc(105px * 1.17);
    width: 95px;
    padding: 15px;
    @include background("../img/statBackground.png");
    z-index: 100;
    input {
      height: 35px;
      width: 70px;
      margin-top: -8px;
      font-size: 2em;
      font-weight: bold;
    }
    .statModifier {
      margin-bottom: -2px;
    }
  }
  @include beforeAfterBgs("../img/statEnds.png",110px,calc(110px / 2.12),-20px);
}
.inspiration, 
.prof {
  width: 260px;
}
.inspiration {
  @include background("../img/inspiration.png");
}
.prof {
  @include background("../img/profBonus.png");
}
.prof,
.inspiration {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
  height: 78px;
  input {
    width: 30px;
    justify-self: center;
    font-size: 1.25em;
  }
}
.skillList {
  @include background("../img/skillsnStatsBody.png");
  background-repeat: repeat;
  width: 260px;
  div:last-child {
    margin-top: 10px;
  }
  .skill {
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: 20px 30px 160px;
    margin-left: 10px;
    .profCheckbox {
      display: flex;
      align-items: center;
      position: relative;
      input {
	border: solid 2px black;
  	border-radius: 100%;
        cursor: pointer;
        &:disabled {
          background: $fgAlt;
        }
      }
      .skillExp {
	position: absolute;
	left: -6px;
	background: white;
	width: 12px;
	height: 12px;
        transition: transform .1s ease-out;
	&:checked {
	  background: #c82333;
          transform: translate(7.5px);
	}
      }
    }
    .skillMod {
      justify-self: center;
      border-bottom: solid 1px black;
      width: 60%;
      text-align: right;
    }
  }
  @include beforeAfterBgs("../img/skillsnStatsEnds.png",260px,92px,-73px);
}

.passive {
  display: grid;
  grid-template-columns: 2fr 9fr;
  justify-items: center;
  align-items: center;
  @include background("../img/passivePerc.png");
  width: 380px;
  height: calc(380px / 6.67 );
  input {
    width: 30px;
    font-size: 1.25em;
  }
}

.wrap {
   width: 100%;
   height: 100vh;
  .movingbg {
    width: 100%;
    height: 100vh;
    @include background('../img/bg2.jpg');
    filter: brightness(60%);
    background-size: cover;
    animation: zoomBg 50s alternate linear infinite;
  }
  .signup {
    position: absolute;
    top: 50%;
    left: 50%;
    @include flexAll(column, center, center);
    transform: translateX(-50%) translateY(-50%);
    @include background('../img/loginsignupBG.png');
    //color: #fff;
    filter: drop-shadow(0px 0px 10px black);
    padding: 40px;
    text-align: center;
    width: 350px;
    height: 350px;
    margin: auto;
    button {
      width: 100%;
      margin: 5px 0;
    }
    animation: fadeIn .5s forwards linear;
  }
}

  .loading {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn .5s forwards linear;
    div {
      @include background('../img/d20dice.png');
      width: 100px;
      height: 100px;
      animation: spin 1s forwards infinite linear;
    }
}

.navbar {
  background: white;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  width: 100%;
  max-width: 1024px;
  left: 50%;
  transform: translate(-50%);
  span {
    text-align: center;
  }
  .navBtns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    button {
      margin: 5px;
      width: 80px;
    }
  }
}
.subNavbar {
  display: flex;
  max-width: 1024px;
  flex-wrap: wrap;
  margin: 5px auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  div {
    margin: 7px;
    .title {
      color: $fgAlt;
    }
    &:first-child {
      margin-bottom: 10px;
      input {
        font-size: 1.5em;
      }
    }
    &:last-child {
      input {
        width: 40px;
      }
    }
  }
  input {
    width: 100%;
    text-transform: capitalize;
  }
}

h1 {
  margin-bottom: .7em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes zoomBg {
  from {
    transform: scale(1) rotate(0);
  }
  to {
    transform: scale(1.2) rotate(3deg);
  }
}
@media (min-width: 1130px) {
  #Stats,
  #Attacks,
  #Bio {
    display: grid;
  }
  .pagination {
    display: none;
  }
  .subNavbar {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: stretch;
  }
  .App {
    flex-direction: row;
    .mainCol1 {
      .stats {
        /* height: 786.867px */
        grid-column: 1;
        grid-row: 1/5;
        margin: 48px auto;
      }
      .inspiration {
        grid-column: 2;
        grid-row: 1;
      }
      .prof {
        grid-column: 2;
        grid-row: 2;
      }
      .statsGrid {
        grid-column: 2;
        grid-column: 2;
        grid-row: 3;
      }
      .skillsGrid {
        grid-column: 2;
        grid-row: 4;
      }
      .passive {
        grid-column: 1/2;
        grid-row: 5;
      }
    }
  }
}

